doctype html
html
  head
    title 图片共享
    link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .page-header
        .container
            .col-md-6
                h1
                    a(href='/') 图片共享
    .container
        .row
            .col-sm-8
                block content
            .col-sm-4
                include includes/stats.pug
                include includes/popular.pug
                include includes/comments.pug
    .footer
        .container
            .row
                .col-sm-12.text-center
                    p.text-muted 图片共享网 &copy; 版权所有 徐顺栋 2017
    script(src='//cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
